Repository NiranjanOrgGround/MyShuttle, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, documentation, pom

.github/labeler.yml:

workflow:
- .github/**

documentation:
- '**/*.md'

pom:
- 'pom.xml'

Update README.md
  README.md
Labels: documentation

Update main.yaml
  .github/workflows/main.yaml
Labels: workflow

Update labels.yaml
  .github/workflows/labels.yaml
Labels: workflow

updated workflow
  .github/workflows/main.yaml
Labels: workflow

Update main.yaml
  .github/workflows/main.yaml
Labels: workflow

Update main.yaml
  .github/workflows/main.yaml
Labels: workflow

Update main.yaml
  .github/workflows/main.yaml
Labels: workflow

Update main.yaml
  .github/workflows/main.yaml
Labels: workflow

Update main.yaml
  .github/workflows/main.yaml
Labels: workflow

Update main.yaml
  .github/workflows/main.yaml
Labels: workflow

Update main.yaml
  .github/workflows/main.yaml
Labels: workflow

Update main.yaml
  .github/workflows/main.yaml
Labels: workflow

Update main.yaml
  .github/workflows/main.yaml
Labels: workflow

Update main.yaml
  .github/workflows/main.yaml
Labels: workflow

Update main.yaml
  .github/workflows/main.yaml
Labels: workflow

Delete target directory
  target/classes/com/microsoft/example/DataAccess.class
  target/classes/com/microsoft/example/models/Distance.class
  target/classes/com/microsoft/example/models/Employee.class
  target/classes/com/microsoft/example/models/Fare.class
  target/classes/com/microsoft/example/servlet/LoginServlet.class
  target/classes/com/microsoft/example/servlet/Servlet.class
  target/classes/com/microsoft/exampledep/DistanceCalculator.class
  target/classes/com/microsoft/exampledep/Route.class
  target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
  target/test-classes/com/microsoft/example/FaresTest.class
  target/test-classes/com/microsoft/example/SimpleTest.class
  target/test-classes/com/microsoft/example/UITestIT.class
Labels: none

workflow file is updated
  .github/workflows/main.yaml
Labels: workflow

Update main.yaml
  .github/workflows/main.yaml
Labels: workflow

Create dependabot.yml
  .github/dependabot.yml
Labels: workflow

Update dependabot.yml
  .github/dependabot.yml
Labels: workflow

Update dependabot.yml
  .github/dependabot.yml
Labels: workflow

Update main.yaml
  .github/workflows/main.yaml
Labels: workflow
